<?xml version="1.0"?>
<robot name="arm" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find hector_sensors_description)/urdf/asus_camera.urdf.xacro" />

	<link name="base_link">
		<visual>
			<geometry>
				<box size="0.30 0.22 0.015"/>
			</geometry>
			<origin xyz="0.08 0 0.095" rpy="0 0 0"/>
			<material name="black">
				<color rgba="0.0 0.0 0.0 1"/>
			</material>
		</visual>
	</link>

	<link name="front_wheel">
		<visual>
			<geometry>
				<cylinder radius="0.025" length="0.002"/>
			</geometry>
			<origin xyz="0 0 0" rpy="1.57 0 0"/>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>

	<link name="aft_left_wheel">
		<visual>
			<geometry>
				<cylinder radius="0.025" length="0.002"/>
			</geometry>
			<origin xyz="0 0 0" rpy="1.57 0 0"/>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>

	<link name="aft_right_wheel">
		<visual>
			<geometry>
				<cylinder radius="0.025" length="0.002"/>
			</geometry>
			<origin xyz="0 0 0" rpy="1.57 0 0"/>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>

	<xacro:asus_camera name="camera" parent="base_link">
		<origin xyz="0.195 0.0 0.165" rpy="0 0 0"/>
	</xacro:asus_camera>

	<link name="scan">
	</link>

	<joint name="scan_joint" type="fixed">
		<parent link="camera_depth_frame"/>
		<child link="scan"/>
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
	</joint>

	<joint name="front_wheel_joint" type="fixed">
		<parent link="base_link"/>
		<child link="front_wheel"/>
		<origin xyz="0.17 0.0 0.025" rpy="0 0 0"/>
	</joint>

	<joint name="aft_left_wheel_joint" type="fixed">
		<parent link="base_link"/>
		<child link="aft_left_wheel"/>
		<origin xyz="0.0 0.05 0.025" rpy="0 0 0"/>
	</joint>

	<joint name="aft_right_wheel_joint" type="fixed">
		<parent link="base_link"/>
		<child link="aft_right_wheel"/>
		<origin xyz="0.0 -0.05 0.025" rpy="0 0 0"/>
	</joint>
</robot>
